body {
  @apply bg-white text-black44;
}

input {
  outline: none;
  &:focus {
    outline: none;
  }
}

select {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
  &:active {
    outline: none;
  }
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.main {
  @apply px-6 xl:px-0 max-w-[1240px] mx-auto;
}
