
@font-face {
  font-family: 'akzidenz-medium';
  src: url('/fonts/AkzidenzGrotesk-Medium.otf');
}

@keyframes checkRotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}